.terminator > .content > .viewport{
    display: flex;
    flex-grow: 1;
    margin: 4px;
    background: #fff;
    position: relative;
}
.viewport_root{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.terminator > .content  .zx-draggable{
    /*border: 1px solid red;*/
}
/*.terminator > .content  .zx-draggable:hover{*/
    /*border: 1px solid red;*/
/*}*/
/*.terminator > .content  .zx-draggable:active{*/
    /*border: 1px solid red;*/
/*}*/